<div class="mt-4"></div>
<div class="homepage-welcome">
    <h1>{{title}}</h1>
    <p>An epic showdown of the greatest pics on the internet. Face hilarious images off against one another to crown the champions.</p>
    <p>
        <a href="/register" class="btn btn-primary my-2">Register</a>
        <a href="/login" class="btn btn-secondary my-2">Login</a>
    </p>
</div>